html, body {
  margin: 0;
  padding: 0;
  background:#000;
}
canvas {
  display: block;
  margin: 0 auto;
  margin-top:30px;
  
}
#hydraCanvas {
  position:absolute;
  z-index: -10;
  visibility: hidden;
}